@use "reset";

:root {
    --color-main: rgb(95, 182, 204);
    --color-second: lightblue;
    --font-size-big: 1.5rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.75rem;
    --font-weight-bold: 900;
    --font-weight-regular: 500;
    --font-weight-light: 300;

}

body {
    display: flex;
    flex-direction: column;
}

.main-logo {
    flex: 1;
    margin: auto 0;
    padding: 0.5rem;
}

.navbar {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-main);

    &__tab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.screen {
    flex: 18;
    padding-inline: 1rem;
}

.activities {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__item {
        padding: 0.25rem;
    }
}

.activity {
    background-color: var(--color-second);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-break: break-all;
    padding: 0.5rem;

    &__name {
        font-size: var(--font-size-big);
        font-weight: var(--font-weight-bold);
    }

    &__comment {
        font-size: var(--font-size-regular);
        font-weight: var(--font-weight-regular);
    }

    &__times {
        margin-left: auto;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-regular);
    }
}