@use "reset";

:root {
    --color-main: rgb(95, 182, 204);
    --color-secondary: #add8e6;
    --color-grey: rgba(168, 168, 168, 0.75);
    --font-size-big: 1.5rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.75rem;
    --font-weight-bold: 900;
    --font-weight-regular: 500;
    --font-weight-light: 300;

}

body {
    display: flex;
    flex-direction: column;
}

.main-logo {
    flex: 1;
    margin: auto 0;
    padding: 0.5rem;
}

.navbar {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-main);

    &__tab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.screen {
    flex: 18;
    padding-inline: 1rem;
    position: relative;
    overflow-y: auto;
}

.floating-action {

    position: absolute;
    bottom: 1rem;
    right: 1rem;

    &__button {
        width: 4rem;
        height: 4rem;
        border-radius: 32px;
        font-size: var(--font-size-big);
    }
}

.logger-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-grey);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding: 2rem;

    &--hidden {
        display: none;
    }

}

.form {

    display: flex;
    flex-direction: column;

    padding: 1rem;

    background-color: var(--color-secondary);
    font-weight: var(--font-weight-bold);

    &__title {
        font-size: var(--font-size-big);
        margin: 0 auto 1rem auto;
    }

    &__input {
        margin-bottom: 1rem;

    }


    &__options {
        display: flex;
        gap: 1rem;
    }


    &__button {
        width: 50%;
        height: 2rem;
        margin-inline: auto;
    }
}

.activities {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__item {
        padding: 0.25rem;
    }
}

.activity {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-break: break-all;
    padding: 0.5rem;

    &__name {
        font-size: var(--font-size-big);
        font-weight: var(--font-weight-bold);
    }

    &__comment {
        font-size: var(--font-size-regular);
        font-weight: var(--font-weight-regular);
    }

    &__times {
        margin-left: auto;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-regular);
    }
}